/*start - specefication*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: #444444;
}

button, input{
	outline: none;
}

.container {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

/*end - specefication*/


/*start - header*/
.header{
	color: #EEEEEE;
	background-color: #232F3E;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.head{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head-content1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 15%;
	align-items: center;
}

.logo img{
	height: 27px;
}

.bots{
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	position: relative;
}

.bots-active{
	color: #329AD6
}

.bots-active > .arrow1{
	transform: rotate(90deg);
	right: -20px;
	transition: all 0.3s ease; 
}

.arrow1{
	position: absolute;
	transform: rotate(-90deg);
	top: -2px;
	right: -15px;
	font-size: 21px;
	font-weight: 700;
	transition: all 0.3s ease; 
}

.bots-block{
	display: none;
}

.bots-block-active{
	border-radius: 5px;
	padding: 20px;
	display: none;
	z-index: 9999;
	position: absolute;
	top: 28px;
	right: -70px;
	width: 130px;
	height: 110px;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px #bbb;
	border-top: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	border-radius: 0 0 4px 4px;
}

.bots-block a{
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
}

.bots-block a:hover{
	color: #329AD6
}

.support{
	cursor: pointer;
	position: relative;
	font-size: 13.5px;
}

.support-active{
	color: #329AD6;
}

.support-active > .arrow2{
	transform: rotate(90deg);
	right: -20px;
	transition: all 0.3s ease; 
}

.arrow2{
	position: absolute;
	transform: rotate(-90deg);
	top: -4px;
	right: -15px;
	font-size: 21px;
	font-weight: 700;
	transition: all 0.3s ease; 
}

.support-block{
	display: none;
}

.support-block-active{
	border-radius: 5px;
	padding: 20px;
	z-index: 9999;
	position: absolute;
	top: 40px;
	right: 50px;
	width: 140px;
	height: 140px;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px #bbb;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	border-radius: 0 0 4px 4px;
	border-top: none;
}

.support-block a{
	font-size: 14px;
	margin-bottom: 12px;
}

.support-block a:hover{
	color: #329AD6;
}

/*end - header*/


/*strat - content*/

.content{
	height: 100%;
}

.box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


.sidebar{
	padding: 25px 20px;
	height: 100vh;
	width: 180px;
	border-right: 1px solid #CCC;
}


.sidebar__title{
	/*text-align: center;*/
	color: #999;
	font-size: 24px;
	margin-bottom: 10px;
}

.sidebar-content{
	padding-top: 30px;
	color: #444444;
}

.sidebar-content__title{
	font-size: 18px;
	margin-bottom: 15px;
	color: #999;
}

.sidebar-content__item{
	cursor: pointer;
	margin-bottom: 15px;
	font-size: 14px;
}

.main-content{
	padding-top: 10px;
	padding-left: 30px;
	height: 100%;
	width: 85%;
}

.main-content__name{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 18px;
	color: #303232;
}

.main-content__name span{
	margin-top: 3px;
	font-size: 14px;
	color: #303232;	
	margin-left: 10px;
}

.main-content-inputs{
	margin-bottom: 20px;
	padding-top: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.add-tables button{
	cursor: pointer;
	border: 1px solid #329ad6;
	color: #329ad6;
	background: #fff;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 500;
	width: 110px;
	height: 33px;
	text-align: left;
	position: relative;
}

.add-tables button:hover{
	background-color: #329ad6;
	color: #fff;
}

.arrow-button{
	position: absolute;
	transform: rotate(-90deg);
	top: 2px;
	right: 13px;
	font-size: 24px;
	font-weight: 700;
}

.search{
	width: 60%;
	margin-left: 20px;
}

.search input{
	background-image: url(../img/icons8-search-50.png);
	background-position: 5px;
	background-repeat: no-repeat;
	background-size: 25px;
	padding: 0px 10px 0px 35px;
	width: 100%;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	background-color: #fff;
	font-size: 14px;
}

.save-view{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 20px;
}

.save-view button{
	cursor: pointer;
	border: 1px solid #329ad6;
	color: #329ad6;
	background: #fff;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
	width: 90px;
	height: 33px;
	text-align: left;
	position: relative;
}

.save-view button:hover{
	background-color: #329ad6;
	color: #fff;
}

.arrow-button2{
	cursor: pointer;
	width: 33px;
	height: 33px;
	border: 1px solid #329ad6;
	transform: rotate(-90deg);
	font-size: 24px;
	font-weight: 400;
	color: #329ad6;
	border-top: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.arrow-button2:hover{
	background-color: #329ad6;
	color: #fff;
}

.table{
	font-size: 14px;
	font-weight: 700;
	color: #303232;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	height: 40px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #BEBFBF;
}

.table-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 100px;
}

.table-item span{
	border: 4px solid transparent;
	border-top: 5px solid #303232;
}

.table-item:hover{
	opacity: 0.7;
}

.add-table{
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 350px;
	display: none;
}

.add-table-using{
	margin-left: 20px;
}

.add-table-using__text{
	width: 270px;
	font-size: 14px;
	color: #303232;
	margin-bottom: 10px;
}

.add-table-using__button button{
	cursor: pointer;
	border: 1px solid #329ad6;
	color: #329ad6;
	background: #fff;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
	width: 190px;
	height: 33px;
	text-align: left;
}

.add-table-using__button button:hover{
	background-color: #329ad6;
	color: #fff;
}

.table-strings{
	border-bottom: 1px solid #CCC;
	padding: 10px;
	width: 100%;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.table-strings-item{
	overflow: hidden;
	white-space:  nowrap;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;	
	cursor: pointer;
	width: 100px;
}

.location{
	width: 320px;
	overflow: hidden;
}

.name{
	width:60px;
}

.table-strings .name{
	color: #329ad6;
}

.database{
	width: 80px;

}

.updated{
	width: 150px;

}
/*end - content*/



/*start page - booktrip*/

.booktrip{

}

.booktrip-up{
	height: 100px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}

.booktrip-up-content{
	padding-top: 15px;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.booktrip-up-content__title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.booktrip-up-content__title h2{
	font-size: 18px;
	font-weight: 400;
	color: #444;
}

.booktrip-up-content a img{
	width: 28px;
}

.booktrip-up-content a img:hover{
	opacity: 0.7;
}

.button-build{
	cursor: pointer;
	width: 65px;
	height: 35px;
	background-color: #dedede;
	background-image: linear-gradient(white,#dedede);
	color: #444;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	font-size: 14px;
	border-radius: 4px;
	font-weight: 700;
}

.button-publish{
	cursor: pointer;
	background-color: #16b;
	background-image: linear-gradient(#2d8cec,#16b);
	border: 1px solid #0b4075;
	border-top-color: #16b;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.75);
	width: 70px;
	height: 35px;
	font-size: 14px;
	border-radius: 4px;
	font-weight: 700;
}

.tabs{
	margin-top: -26px;
}

.tab-item{
	cursor: pointer;
	padding: 7px 15px;
	border: 1px solid #ccc;
	margin-right: 3px;
	border-radius: 4px 4px 0 0;
	color: #444;
	font-weight: 700;
	background-color: #eee;
	font-size: 14px;
}

input[name="tab"]{
	display: none;
}

input[name="tab"]:checked + label{
	border-top: 3px solid #329ad6;
	background-color: #fff;
	padding: 8px 15px;
	overflow: hidden;
	border-bottom: none;
}

.booktrip-sidebar{
	width: 210px;
	position: relative;
	margin-top: 8px;
}

.booktrip-main-content{
	width: 83%;
}

.sidebar__tab-1,
.sidebar__tab-2,
.sidebar__tab-3,
.sidebar__tab-4,
.main-content__tab-1,
.main-content__tab-2,
.main-content__tab-3,
.main-content__tab-4{
	display: none;
}

input[id="tab-1"]:checked ~ .box > .booktrip-sidebar > .sidebar__tab-1,
input[id="tab-2"]:checked ~ .box > .booktrip-sidebar > .sidebar__tab-2,
input[id="tab-3"]:checked ~ .box > .booktrip-sidebar > .sidebar__tab-3,
input[id="tab-4"]:checked ~ .box > .booktrip-sidebar > .sidebar__tab-4,
input[id="tab-1"]:checked ~ .box > .booktrip-main-content > .main-content__tab-1,
input[id="tab-2"]:checked ~ .box > .booktrip-main-content > .main-content__tab-2,
input[id="tab-3"]:checked ~ .box > .booktrip-main-content > .main-content__tab-3,
input[id="tab-4"]:checked ~ .box > .booktrip-main-content > .main-content__tab-4{
	display: block;
}

.sidebar__tab-1{

}

.sidebar__tab-1 p{
	color: #999;
	font-size: 18px;
}

.booktrip-sidebar-section{
	cursor: pointer;
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
}

.booktrip-sidebar-section:hover{
	color: #329ad6;
}

.content__tab-name{
	margin-top: 10px;
	font-size: 18px;
	font-weight: 400;
	color: #444;
}




.utterances, .lambda{
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 30px;
}

.utterances summary, .lambda summary{
	outline: none;
}

.utterances > summary::-webkit-details-marker,
.lambda > summary::-webkit-details-marker{
  width: 7px;
  height: 8px;
}

.utterances summary span,
.lambda summary span{
	font-size: 18px;
	color: #444;
}

.utterances input{
	display: block;
	background-color: #eee;
	color: #666;
	width: 400px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
}

.lambda{
	color: #444;
	font-weight: 400;
	font-size: 14px;
}

.lambda input{
	height: 15px;
	width: 15px;
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

/*end page - booktrip*/
