/*preloader-START*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(249, 251, 255);
    opacity: 1;
    visibility: visible;
    transition: all 1s;
    &.done {
        opacity: 0;
        visibility: hidden;
    }
}

.preloader-text {
    margin-top: -30px;
    margin-left: -15px;
    font-size: 26px;
    display: flex;
    text-transform: uppercase;
    span {
        margin-left: 70px;
    }
}

.box {
    height: 32px;
    width: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.box .item {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.box .item:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: item1 1s linear infinite;
    animation: item1 1s linear infinite;
}

.box .item:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: item2 1s linear infinite;
    animation: item2 1s linear infinite;
}

.box .item:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: item3 1s linear infinite;
    animation: item3 1s linear infinite;
}

.box .item:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: item4 1s linear infinite;
    animation: item4 1s linear infinite;
}

.box .item>div {
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #914E52;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.box .item>div:nth-child(1) {
    top: 0;
    left: 0;
    background: #A5595E;
}

.box .item>div:nth-child(2) {
    background: #6F3B3F;
    right: 0;
    --rotateY: 90deg;
}

.box .item>div:nth-child(3) {
    background: #8B4B4F;
    --rotateX: -90deg;
}

.box .item>div:nth-child(4) {
    background: rgba(102, 25, 32, 0.2);
    top: 0;
    left: 0;
    --translateZ: -90px;
}

@keyframes item1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes item2 {
    0% {
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes item3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes item4 {
    0% {
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}


/*preloader-END*/


/*specification-START*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
     ::-moz-scrollbar {
        width: 0px;
        background: transparent;
    }
     ::-o-scrollbar {
        width: 0px;
        background: transparent;
    }
}

body {
    background: #12161f;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

b {
    font-weight: 700;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.scrollup {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
    display: none;
    img {
        width: 50px;
        &:hover {
            box-shadow: 0px 0px 20px rgba(135, 41, 48, 0.8);
            border-radius: 50%;
        }
    }
}

.cd-headline {
    span {
        padding: 0 !important;
    }
    .cd-words-wrapper {
        line-height: 1;
        padding: 0;
        b {
            line-height: 1;
        }
    }
}

.blackout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    color: #e60755;
    text-align: center;
}

.scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 7px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 3;
}

.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 7px;
    height: 0%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    z-index: 3;
    animation: scrollbarAnimate 5s linear infinite;
    opacity: 0.7;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #008aff, #00ffe7);
        filter: blur(20px);
    }
}

@keyframes scrollbarAnimate {
    0%,
    100% {
        filter: hue-rotate(0deg)
    }
    50% {
        filter: hue-rotate(360deg)
    }
}

.second-title {
    text-transform: none;
    font-size: 32px;
}


/*specification-END*/


/*header-START*/

.header {
    position: relative;
    height: 100vh;
    max-height: 1000px;
}

.header-blackout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(326deg, rgba(17, 17, 17, 0.7) 41%, rgba(26, 26, 26, 0.7) 65%);
    opacity: 0.5;
}

.header-up {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: url(../img/background-up.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container {
        position: relative;
    }
}

.header-up__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    b {
        color: #DF6E64;
    }
    img {
        width: 50px;
        margin-right: 10px;
        animation: logoOpasity 2s linear infinite;
    }
}

@keyframes logoOpasity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.navigtion {
    display: flex;
    align-items: center;
}

.messenger-text {
    display: flex;
    align-items: center;
    margin-right: 60px;
    text-transform: uppercase;
    color: #000;
    img {
        margin-left: 30px;
        width: 25px;
        animation: arrowMessendger 1s infinite;
    }
}

@keyframes arrowMessendger {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.messenger {
    display: flex;
    .messenger-item {
        img {
            border-radius: 50%;
            transition: 0.3s;
            width: 30px;
            &:hover {
                box-shadow: 0px 0px 15px #47B0D3;
                transform: rotate(30deg);
            }
        }
        &:last-child {
            margin: 0px 80px 0px 15px;
            img {
                &:hover {
                    box-shadow: 0px 0px 15px #75B73B;
                }
            }
        }
    }
}

.burger-menu {
    position: absolute;
    z-index: 9999 !important;
    width: 28px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 9999 !important;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        height: 3px;
        background-color: #000;
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2) {
        top: 8px;
    }
    span:nth-child(3) {
        top: 8px;
    }
    span:nth-child(4) {
        top: 16px;
    }
}

.menu-opened {
    span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2) {
        top: 8px;
        transform: rotate(45deg);
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
    }
    span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
}

.body__overflow-y {
    overflow-y: hidden;
    .menu-wrapper {
        li {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

.menu-wrapper {
    padding: 40vh 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba($color: #000, $alpha: 0.9);
    z-index: 3;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    transform: translate(-100%, 0);
    text-align: center;
    li {
        display: block;
        margin: 25px 0px;
        transform: translateX(-100%);
        opacity: 0;
        a {
            text-decoration: none;
            padding: 5px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            color: #000;
            span {
                display: block;
                position: relative;
                text-transform: uppercase;
                font-size: 36px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
    li:nth-child(1) {
        transition: 0.8s ease-in-out;
    }
    li:nth-child(2) {
        transition: 1s ease-in-out;
    }
    li:nth-child(3) {
        transition: 1.2s ease-in-out;
    }
}

li a span:before {
    content: attr(data-letters);
    position: absolute;
    z-index: 1;
    color: #000;
    left: 0px;
    overflow: hidden;
    width: 0;
    transition: width .5s;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}

li a:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: -1px;
    z-index: -1;
    background: #fff;
    transform: translate3d(101%, 0, 0);
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transform: translate3d(100%, 0, 0);
}

li a:hover span:before {
    width: 100%;
}

li a:hover:after {
    background: #fff;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transform: translate(0, 0);
}

.menu-item__active span:before {
    width: 100%;
}

.menu-item__active:after {
    background: #fff;
    transform: translate(0, 0);
}

.menu-wrapper__active {
    z-index: 3;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
}

.parallax-window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-height: 1000px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.parallax-letters {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px;
    .parallax__item:first-child {
        margin-top: -40px;
        margin-right: -55px;
    }
}

.parallax-text {
    text-align: center;
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke: 1px #914E52;
}

.arrow-bottom {
    position: absolute;
    bottom: 3vh;
    z-index: 2;
    width: 100%;
    text-align: center;
    animation: bounce 2s infinite;
    img {
        width: 25px;
    }
}

@keyframes bounce {
    0% {
        bottom: 3vh;
    }
    50% {
        bottom: 5vh;
    }
    100% {
        bottom: 3vh;
    }
}


/*header-END*/


/*about-START*/

.about {
    padding: 150px 0px;
    position: relative;
    background: #12161f;
    color: #fff;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    position: relative;
    padding-top: 50px;
    margin-right: 150px;
    // border: 1px solid red;
    .img-border {
        content: "";
        position: absolute;
        top: 0px;
        right: -50px;
        width: 100%;
        height: 90%;
        border: 5px solid #e60755;
        z-index: 1;
    }
    img {
        position: relative;
        width: 270px;
        z-index: 2;
    }
}

.about-content {
    width: 535px;
    .cd-headline span b {
        text-transform: uppercase;
        color: #e60755;
        font-size: 40px;
    }
    .about-content__text {
        margin-top: 20px;
        color: #d8d8d8;
        // width: 550px;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 1.2px;
    }
    .about-content__info {
        margin-top: 20px;
        color: #e4e3e3;
        span {
            text-transform: uppercase;
            color: #eb407c;
            margin-right: 5px;
        }
    }
}


/*about-END*/


/*skills-START*/

.skills {
    padding: 80px 0px;
    background: #1B212D;
    .title {
        span {
            padding: 0 !important;
        }
        .cd-words-wrapper {
            font-size: 42px;
            b {
                font-size: 42px;
                text-transform: uppercase;
                font-weight: 700;
                i {
                    font-style: normal;
                }
            }
        }
    }
}

.skills-progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 70px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 50px;
    .progress-bar__name {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.progress-bar .progress-bar__line {
    height: 5px;
    background: #e8e8e8;
    position: relative;
}

.progress-bar>.progress-bar__line>.progress-bar__count {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #EB407C;
    span {
        content: attr(data-count);
        position: absolute;
        top: -30px;
        right: -20px;
        &:after {
            content: '';
            position: absolute;
            top: 28px;
            right: 13px;
            width: 10px;
            height: 10px;
            background: #EB407C;
            border-radius: 50%;
        }
    }
}

@keyframes animationLoaded {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/*skills-END*/


/*services-START*/

.services {
    position: relative;
    padding: 100px 0px;
    // height: 700px;
    // background: url(../img/backgroud-section.jpg);
    // background-size: cover;
    // background-position: bottom center;
    // background-repeat: no-repeat;
    color: #fff;
    // .blackout {
    //     opacity: 0.9;
    //     background: #12161f;
    // }
}

.services-box {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .services-item {
        width: 360px;
        border: 1px solid #a0a0a0;
        text-align: center;
        padding: 20px 10px;
        border-radius: 5px;
        .services-item__icon {
            margin-bottom: 15px;
            img {
                height: 60px;
            }
        }
        .services-item__title {
            font-size: 22px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .services-item__text {
            line-height: 1.7;
            color: #d8d8d8;
        }
    }
}


/*services-END*/


/*works-START*/

.works {
    padding: 80px 0px;
    background: #1B212D;
    position: relative;
    .works-link {
        margin: 50px auto 0px;
        width: 330px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.5s;
        &:hover {
            color: #EB407C;
            transition: all 0.5s;
        }
        svg {
            width: 30px;
            height: 30px;
            path:nth-child(2),
            path:nth-child(3),
            path:nth-child(4),
            path:nth-child(5),
            path:nth-child(6) {
                animation-name: fillСhange;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: linear;
            }
        }
    }
}

@keyframes fillСhange {
    0% {
        fill: transparent;
    }
    50% {
        fill: #E60755
    }
    100% {
        fill: transparent
    }
}

.works-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item {
    line-height: 0.7;
    // box-shadow: -20px 20px 20px rgba(255, 255, 255, 0.3);
    width: 300px;
    transition: transform .2s ease;
    img {
        width: 100%;
    }
}


/*works-END*/


/*footer-START*/

.footer {
    position: relative;
    z-index: 2;
    padding: 40px 0px;
    background: #000;
}

.footer-social {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 240px;
    justify-content: space-between;
    .footer-social__item {
        padding: 10px 10px 8px;
        border-radius: 50%;
        border: 3px solid #fff;
        svg {
            width: 20px;
            height: 20px;
            path {
                transition: all 0.3s;
                fill: #fff;
            }
        }
    }
    .telegram:hover {
        border: 3px solid #41B4E6;
        box-shadow: 0px 0px 20px #41B4E6;
        svg {
            path {
                fill: #41B4E6;
            }
        }
    }
    .instagram:hover {
        border: 3px solid #E9496A;
        box-shadow: 0px 0px 20px #E9496A;
        svg {
            path {
                fill: #E9496A;
            }
        }
    }
    .whatsapp:hover {
        border: 3px solid #64B161;
        box-shadow: 0px 0px 20px #64B161;
        svg {
            path {
                fill: #64B161;
            }
        }
    }
    .google:hover {
        border: 3px solid #FF4B26;
        box-shadow: 0px 0px 20px #FF4B26;
        svg {
            path {
                fill: #FF4B26;
            }
        }
    }
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-headline {
        margin-left: 3px;
        b {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.15;
            font-weight: 400;
            i {
                font-style: normal;
            }
        }
    }
}


/*footer-END*/


/*PAGE portfolio-START*/

.portfolio {
    position: relative;
    z-index: 2;
    background: #12161f;
    padding: 80px 0px;
    .second-title {
        color: #fff;
    }
}

.page__parallax-window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    .parallax-letters {
        position: relative;
        z-index: 4;
    }
    .parallax-text {
        position: relative;
        z-index: 4;
        font-size: 76px;
    }
}

.video-blackout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 3;
}

.portfolio-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    padding: 40px 0px;
    width: 400px;
    // height: 300px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        .portfolio-item__link {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .portfolio-item__link {
        transform: translateX(-10%);
        transition: all 0.5s;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            img {
                width: 120px;
            }
        }
    }
    -webkit-box-shadow: 18px 18px 18px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 18px 18px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 18px 18px 1px rgba(0, 0, 0, 0.75);
    img {
        width: 70%;
    }
}

.backg-yellow {
    background: #ffdc01;
}

.backg-pink {
    background: #df7e6f;
}

.backg-blue {
    background: #2176b9;
}

.backg-darkblue {
    background: #232f3f;
}

.backg-grey {
    background: #AFB4B8;
}

.backg-orange {
    background: #e99a6f;
}


/*PAGE portfolio-END*/


/*PAGE contacts-START*/

.contacts {
    position: relative;
    z-index: 2;
    background: #12161f;
    padding: 80px 0px;
    .second-title {
        color: #fff;
    }
    color: #fff;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-media {
    margin-top: 30px;
    .contacts-media__text {
        width: 550px;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 1.2px;
        color: #d8d8d8;
        margin-bottom: 30px;
    }
    .contacts-media__item {
        font-size: 20px;
        margin-bottom: 25px;
        span {
            font-size: 22px;
            text-transform: uppercase;
            color: #eb407c;
            margin-right: 5px;
        }
    }
    .freelancehunt-link {
        display: flex;
        align-items: center;
        img {
            margin-left: 20px;
            width: 200px;
        }
    }
}

.contacts-image {
    img {
        width: 400px;
        transform: matrix(1, 0, 0.2, 1, 5, 0);
        -webkit-box-shadow: -27px 30px 62px -10px rgba(0, 0, 0, 1);
        -moz-box-shadow: -27px 30px 62px -10px rgba(0, 0, 0, 1);
        box-shadow: -27px 30px 62px -10px rgba(0, 0, 0, 1);
    }
}


/*PAGE contacts-END*/