@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Medium/Oswald-Medium.woff2') format('woff2'), url('../fonts/Oswald/Oswald-Medium/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-DemiBold/Oswald-DemiBold.woff2') format('woff2'), url('../fonts/Oswald/Oswald-DemiBold/Oswald-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald-Bold/Oswald-Bold.woff2') format('woff2'), url('../fonts/Oswald/Oswald-Bold/Oswald-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura PT/FuturaPT-Book/FuturaPT-Book.woff2') format('woff2'), url('../fonts/Futura PT/FuturaPT-Book/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura PT/FuturaPT-Medium/FuturaPT-Medium.woff2') format('woff2'), url('../fonts/Futura PT/FuturaPT-Medium/FuturaPT-Medium.woff') format('woff');
    font-weight: 450;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura PT/FuturaPT-Demi/FuturaPT-Demi.woff2') format('woff2'), url('../fonts/Futura PT/FuturaPT-Demi/FuturaPT-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/Futura PT/FuturaPT-Bold/FuturaPT-Bold.woff2') format('woff2'), url('../fonts/Futura PT/FuturaPT-Bold/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

.aos-animate {
    pointer-events: auto!important
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Oswald, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

li {
    list-style-type: none
}

li a {
    text-decoration: none
}

.container {
    width: 1185px;
    margin-left: auto;
    margin-right: auto
}

.btn {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    font-family: Oswald, sans-serif;
    cursor: pointer;
    background: #f99746;
    border-radius: 90px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    border: 2px solid #f99746
}

.btn:hover {
    border: 2px solid #f99746;
    background: 0 0;
    color: #f99746
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #565cbd
}

.subtitle {
    text-align: center;
    margin-bottom: 15px
}

.subtitle span {
    position: relative;
    font-family: 'Futura PT', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #f99746
}

.subtitle span:before {
    content: '';
    width: 15px;
    height: 4px;
    background: #f99746;
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 2px);
    left: -25px
}

.subtitle span:after {
    content: '';
    width: 15px;
    height: 4px;
    background: #f99746;
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 2px);
    right: -25px
}

.title-left .subtitle,
.title-left .title {
    text-align: left
}

.title-left .subtitle {
    padding-left: 26px
}

body::-webkit-scrollbar {
    width: 14px
}

body::-webkit-scrollbar-track {
    background: rgba(222, 222, 222, .75)
}

body::-webkit-scrollbar-thumb {
    width: 14px;
    border-radius: 2px;
    background: #f99746
}

.header {
    padding-top: 24px;
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.header-up__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 660px;
}

.header-menu li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #a9adec;
    text-decoration: none;
    transition: all .2s ease
}

.header-menu li a:hover {
    color: #ffba82
}

.header-up__right {
    display: flex;
    align-items: center
}

.header-phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #565cbd;
    text-decoration: none;
    margin-right: 30px
}

.header-mobile-img {
    display: none!important
}

.lang {
    position: relative;
    width: 36px;
    height: 36px;
}

.lang ul {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a9adec;
    border-radius: 50%;
    background: #FFFFFF;
    transition: all 0.3s;
}

.lang.active ul {
    height: 84px;
    border-radius: 90px;
}

.lang ul li {
    line-height: 1.1;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.lang.active ul li {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    height: auto;
}

.lang li.current {
    opacity: 1;
    visibility: visible;
    height: auto;
    order: -1;
}

.lang ul li a {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(169, 173, 236, .65);
    transition: all 0.3s ease;
}

.lang ul li a:hover {
    color: #767bdb;
}

.lang li.current a {
    color: rgb(169, 173, 236, 1);
}

.lang li.current a:hover {
    color: rgb(169, 173, 236, 1);
}

.burger-menu {
    display: none
}

.header-main__content .btn {
    margin-left: auto;
    margin-right: auto
}

.video-btn {
    position: relative;
    padding-left: 58px
}

.video-btn:before {
    transition: all .3s ease;
    content: '';
    width: 14px;
    height: 18px;
    background-image: url(../images/play-icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 9px);
    left: 56px
}

.video-btn:hover:before {
    background-image: url(../images/play-icon-orange.svg)
}

.header-main {
    padding-top: 21px;
    display: flex;
    justify-content: space-between
}

.header-main__illustration:first-child {
    margin-top: 202px
}

.header-main__content {
    margin-top: 66px
}

.header-main__content h1 {
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: #565cbd
}

.header-main__content p {
    font-family: 'Futura PT', sans-serif;
    font-weight: 450;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #5e6185;
    margin: 22px 0 44px
}

.header-bottom {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -34px;
}

.header-img-back {
    max-width: 100%;
    height: auto;
}

.header-video {
    width: 680px;
    height: 400px;
    position: absolute;
    top: 170px;
    left: calc(50% - 340px);
    cursor: pointer;
}

.header-video::before {
    content: '';
    width: 778px;
    height: 487px;
    background-image: url(../images/laptop.png);
    position: absolute;
    top: calc(50% - 226px);
    left: calc(50% - 389px);
    pointer-events: none;
    z-index: 1;
}

.header-video-start {
    width: 100%;
    background: #F8FBFF;
    text-align: center;
}

.header-video-start,
.header-video-slider {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.header-video-start.active,
.header-video-slider.active {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.header-video-start img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.header-video-blackout {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 00;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.header-video-play {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    transition: all 0.8s ease;
    opacity: 0;
}

.header-video-play:before {
    content: '';
    background-image: url(../images/video-play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 21px;
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 7px);
}

.header-video:hover .header-video-blackout {
    opacity: 0.3;
}

.header-video:hover .header-video-play {
    opacity: 1;
}

.header-video-slider {
    background-color: #fff;
}

.header-video-slider .slick-next,
.header-video-slider .slick-prev {
    width: 70px;
    height: 70px;
}

.header-video-slider .slick-next {
    right: -130px;
}

.header-video-slider .slick-prev {
    left: -130px;
}

.header-video-slider .slick-arrow:before {
    height: 19px!important;
    width: 11px!important;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
}

.header-video-slider__item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 400px;
}

.header-video-slider__item iframe {
    position: absolute;
    top: 0;
    left: 9px;
    width: 97%;
    height: 99%;
}

.advantage {
    position: relative;
    margin-top: -125px;
    background-image: url(../images/advantage-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 220px 0 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.advantage-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.advantage-wave img {
    width: 100%;
    height: auto
}

.advantage-title {
    width: 580px;
    margin-left: auto
}

.advantage-title .title {
    color: #fff
}

.advantage-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 22px 0 18px;
    flex-wrap: wrap
}

.advantage-item {
    width: 335px;
    margin-bottom: 28px
}

.advantage-item__icon {
    text-align: center;
    height: 150px
}

.advantage-item__icon img {
    max-height: 100%;
    width: auto
}

.advantage-wave-mobile {
    display: none!important
}

.advantage-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px
}

.advantage-item__text {
    padding: 0 4px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #fff
}

.portfolio {
    padding-top: 110px;
    background-color: #fff;
    padding-bottom: 58px
}

.portfolio-slider {
    width: 1440px;
    max-width: 100%;
    padding: 0 127.5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
}

.slick-next,
.slick-prev {
    z-index: 1;
    font-size: 0;
    line-height: 0;
    box-shadow: 0 2px 40px rgba(221, 42, 123, .1);
    background: #fff;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    top: 48%
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    background: #fff
}

.slick-next {
    right: 50px
}

.slick-prev {
    left: 50px
}

.slick-arrow:before {
    content: '';
    background: url(../images/slider-arrow.svg)!important;
    background-position: center;
    background-size: cover!important;
    background-repeat: no-repeat;
    height: 12px!important;
    width: 7px!important;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 3px);
    opacity: 1
}

.slick-next:before {
    transform: rotate(180deg)!important
}

.portfolio-slider .slick-list {
    margin: 0 -15px;
    padding-top: 33px!important;
    padding-bottom: 50px!important;
    overflow: visible
}

.portfolio-slider .slick-slide {
    visibility: hidden;
    transition: all .5s ease
}

.portfolio-slider .slick-slide.slick-active {
    visibility: visible
}

.portfolio-slider__item {
    position: relative;
    margin: 0 15px;
    padding: 20px 20px 26px 20px;
    background: #fff;
    border-radius: 30px
}

.portfolio-slider__item:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20%;
    box-shadow: 0 7px 30px -8px rgba(103, 182, 255, .4)
}

.portfolio-slider__item-video {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 20px;
    display: block
}

.portfolio-slider__item-video:before {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #fff;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transition: all 0.3s ease;
}

.portfolio-slider__item-video:after {
    content: '';
    background-image: url(../images/video-play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 17px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 5px);
}

.portfolio-slider__item-video:hover:before {
    transform: scale(1.1);
}

.portfolio-slider__item-video img {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden
}

.portfolio-slider__item h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #565cbd;
    margin-top: 27px
}

.price {
    position: relative;
    z-index: 1
}

.price-box {
    margin-top: 33px;
    width: 882px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between
}

.price-item {
    width: 274px;
    padding-bottom: 36px;
    background: #fff;
    border-radius: 30px
}

.price-item__up {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 33px 31px 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.price-item__up h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #fff
}

.price-item__text {
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #5e6185;
    padding: 25px 30px 10px;
    height: 175px
}

.price-item__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 12px
}

.price-item__price .currency {
    font-size: 24px
}

.price-item__price .number {
    font-size: 45px
}

.price-btn {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #f99746;
    border: 2px solid #f99746;
    border-radius: 90px;
    width: 214px;
    padding: 21px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease
}

.price-btn:hover {
    background: #f99746;
    color: #fff
}

.order {
    z-index: 0;
    position: relative;
    margin-top: -134px;
    padding: 300px 0 96px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.order .parallax {
    position: absolute;
    min-width: 100%;
    min-height: 1200px;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    transition: all 1s ease
}

.order .parallax-top {
    top: -600px
}

.order-box {
    display: flex;
    justify-content: space-between
}

.order-item {
    position: relative;
    width: 577px;
    background: #fff;
    border-radius: 40px;
    padding: 35px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.order-item__img {
    height: 252px;
    display: flex;
    justify-content: center;
    align-content: flex-end
}

.order-item__img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto
}

.order-item__subtitle {
    margin: 45px 0 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #565cbd
}

.order-item__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #565cbd;
    padding: 0 70px
}

.order-item__title span {
    color: #f99746
}

.order-item__text {
    margin: 18px 0 25px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #5e6185
}

.order .btn {
    margin-left: auto;
    margin-right: auto
}

.reviews {
    padding: 111px 0 357px;
    background-image: url(../images/reviews-back2.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover
}

.reviews-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 35px
}

.reviews-slider {
    padding-top: 14px;
    width: 577px;
    text-align: center
}

.reviews-slider .slick-next,
.reviews-slider .slick-prev {
    top: 224px
}

.reviews-slider .slick-prev {
    left: -93px
}

.reviews-slider .slick-next {
    right: -93px
}

.reviews-slider__item {
    position: relative
}

.reviews-slider__item:before {
    content: '';
    width: 63px;
    height: 47px;
    background-image: url(../images/quote-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 67px;
    left: 0
}

.reviews-slider__item .author-img {
    width: 132px;
    margin-left: auto;
    margin-right: auto
}

.reviews-slider__item .author-img img {
    width: 100%;
    height: auto;
    border-radius: 50%
}

.reviews-slider__item .author-text {
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #5e6185;
    margin: 40px 0 34px
}

.author-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #565cbd
}

.reviews-slider__item .author-name {
    margin-bottom: 15px
}

.author-position {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #f99746
}

.reviews-left,
.reviews-right {
    position: relative;
    height: 430px
}

.reviews-left img,
.reviews-right img {
    height: auto;
    border-radius: 50%;
    position: absolute
}

.reviews-left img:nth-child(1) {
    width: 80px;
    top: 0;
    left: 123px
}

.reviews-left img:nth-child(2) {
    width: 52px;
    top: 132px;
    left: 0
}

.reviews-left img:nth-child(3) {
    width: 50px;
    bottom: 149px;
    left: 128px
}

.reviews-left img:nth-child(4) {
    width: 98px;
    bottom: 0;
    left: 13px
}

.reviews-right img:nth-child(1) {
    width: 80px;
    top: 0;
    right: 122px
}

.reviews-right img:nth-child(2) {
    width: 52px;
    top: 170px;
    right: 0
}

.reviews-right img:nth-child(3) {
    width: 72px;
    bottom: 88px;
    right: 114px
}

.reviews-right img:nth-child(4) {
    width: 52px;
    bottom: 0;
    right: 0
}

.work {
    margin-top: -256px;
    padding-bottom: 48px
}

.work .title {
    width: 577px;
    margin-left: auto;
    margin-right: auto
}

.work-wrapper {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.work-item {
    width: 341px;
    border-radius: 40px;
    position: relative;
    padding: 50px 0 38px;
    margin-bottom: 78px
}

.work-item:nth-child(1) {
    background-color: #dceeff
}

.work-item:nth-child(2) {
    background-color: #ccf4f4
}

.work-item:nth-child(3) {
    background-color: #e8e0ff
}

.work-item:nth-child(4) {
    order: 6;
    background-color: #e4fee5
}

.work-item:nth-child(5) {
    order: 5;
    background-color: #fdd
}

.work-item:nth-child(6) {
    background-color: #fffbe4
}

.work-item:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1
}

.work-item:nth-child(2):before {
    content: '';
    background-image: url(../images/work-points2.png);
    width: 75px;
    height: 24px;
    position: absolute;
    top: calc(50% - 4px);
    left: -80px
}

.work-item:nth-child(3):before {
    content: '';
    background-image: url(../images/work-points3.png);
    width: 83px;
    height: 16px;
    position: absolute;
    top: 143px;
    left: -78px
}

.work-item:nth-child(4):before {
    content: '';
    background-image: url(../images/work-points4.png);
    width: 11px;
    height: 78px;
    position: absolute;
    top: -79px;
    right: 134px
}

.work-item:nth-child(5):before {
    content: '';
    background-image: url(../images/work-points5.png);
    width: 88px;
    height: 17px;
    position: absolute;
    bottom: calc(50% - 38px);
    right: -87px
}

.work-item:nth-child(6):before {
    content: '';
    background-image: url(../images/work-points6.png);
    width: 104px;
    height: 35px;
    position: absolute;
    top: calc(50% - 24px);
    right: -94px
}

.work-item__number {
    position: absolute;
    top: -36px;
    right: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    color: #f99746
}

.work-item__img {
    text-align: center;
    width: 190px;
    height: 190px;
    margin-left: auto;
    margin-right: auto
}

.work-item__img img {
    max-width: 100%;
    height: auto
}

.work-item__title {
    margin: 33px 0 22px;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: #565cbd;
    text-shadow: 0 6px 40px rgba(86, 92, 189, .1)
}

.title-finish {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #565cbd;
    text-shadow: 0 6px 40px rgba(86, 92, 189, .1)
}

.work-item__text {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #5e6185;
    padding: 0 23px
}

.brief .container {
    width: calc(1185px + 94px);
    overflow: hidden
}

.brief-box {
    display: flex
}

.brief-content {
    margin-left: 88px;
    text-align: left;
    margin-top: 15px
}

.brief-content .title {
    text-align: left
}

.brief-content__text {
    width: 476px;
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #5e6185;
    margin: 36px 0 40px
}

.team {
    padding: 443px 0 415px;
    margin-top: -245px;
    background-image: url(../images/team-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.team .container {
    position: relative
}

.team-title {
    margin-bottom: 40px;
}

.team-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.team-slider__item {
    width: 375px;
    text-align: center;
    margin-bottom: 55px
}

.team-slider__img {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px
}

.team-slider__img img {
    max-width: 100%;
    height: auto
}

.team-slider__item .author-position {
    margin: 8px 0 14px
}

.team-slider__text {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #5e6185
}

.contacts {
    margin-top: -364px
}

.contacts-box {
    display: flex;
    justify-content: space-between
}

.contacts-content {
    padding-top: 50px
}

.contacts-social {
    padding-top: 37px;
    display: flex;
    flex-direction: column
}

.contacts-social__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 22px;
    color: #5e6185;
    margin-bottom: 25px
}

.contacts-social__item img {
    max-width: 32px;
    height: auto;
    margin-right: 15px
}

.footer {
    margin-top: 38px;
    padding: 24px 0;
    background: linear-gradient(-90.49deg, #dcf1ff 0, #f2f9ff 99.88%)
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-copyright {
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #565cbd;
    opacity: .5
}

.advantage,
.brief,
.contacts,
.header,
.order,
.portfolio,
.reviews,
.team,
.work {
    overflow: hidden
}


/* Modal */

.modal,
.video-modal {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-top: 117px;
    justify-content: center;
}

.video-modal {
    position: fixed;
    padding-top: 0;
    align-items: center;
}

.modal.is-visible,
.video-modal.is-visible {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 52, 104, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay,
.video-modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.video-modal-content {
    position: relative;
    z-index: 99;
    margin: 0 auto;
    overflow-y: visible;
    width: calc(100% - 12em);
    background-color: #000;
    height: 0;
    padding-top: calc((100% - 12em) * 0.5625);
    /* 16:9 calc */
}

.modal.is-visible .video-modal-content {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
}

iframe#youtube {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    width: 982px;
    height: auto;
    position: relative;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 8px 70px rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    overflow: hidden;
}

.modal-review {
    padding-top: 0;
    align-items: center;
}

.modal-review .modal-wrapper {
    padding: 50px 0px 61px;
}

.response-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #565CBD;
}

.response-text {
    font-family: 'Futura PT', sans-serif;
    font-weight: 450;
    font-size: 24px;
    line-height: 32px;
    color: #565CBD;
}

.review-title {
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 45px;
    right: 50px;
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    opacity: 0.25;
}

.modal-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.modal.is-visible .modal-close {
    transition: all 0.3s ease;
}

.modal-close img {
    max-width: 100%;
    max-height: 100%;
}

.video-modal-content .modal-close {
    right: 0px;
    top: -45px;
    opacity: 0.7;
}

.video-modal-content .modal-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.video-modal.is-visible .modal-close {
    transition: all 0.3s ease;
}

.review-form {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.review-box {
    padding: 45px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-inputs {
    width: 577px;
}

.review-inputs .inp {
    margin-bottom: 20px;
}

.review-textarea {
    padding: 35px 25px;
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #C7CAFC;
    border-radius: 12px;
    resize: none;
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: rgba(107, 109, 145, 1);
    outline: none !important;
}

.review-textarea:focus {
    border: 1px solid rgb(107, 109, 145);
}

.review-textarea::placeholder {
    color: rgba(107, 109, 145, 0.6);
}

.review-img img {
    max-width: 160px;
    height: auto;
    border-radius: 50%;
}

.inp-submit {
    cursor: pointer;
    width: 237px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #F99746;
    border-radius: 90px;
    outline: none !important;
    border: none;
}

.inp-submit:hover {
    border: 2px solid #f99746;
    background: transparent;
    color: #f99746;
}

.modal.is-visible .inp-submit {
    transition: all 0.3s ease;
}

.review,
.review-thanks {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.review.is-visible,
.review-thanks.is-visible {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

.review-thanks.is-visible {
    padding: 70px 0px 40px;
    display: flex;
    align-items: center;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.review-thanks__content {
    width: 287px;
    margin-left: 80px;
}

.review-thanks__text {
    margin-top: 30px;
}

.modal-thanks {
    align-items: center;
}

.modal-thanks .modal-wrapper {
    padding: 33px 0px 70px;
}

.modal-thanks-wrapper {
    text-align: center;
}

.modal-thanks img {
    max-width: 500px;
    height: auto;
}

.modal-thanks .response-title {
    margin: 40px 0px 22px;
}

.modal-thanks .response-text {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.image-input {
    width: 160px;
    text-align: center;
}

.image-input input {
    display: none;
}

.image-input label {
    cursor: pointer;
}

.image-input img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-preview {
    display: none;
}

.image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
    font-family: 'Futura PT', sans-serif;
    font-weight: 450;
    color: #565CBD;
    margin-top: 5px;
    text-align: center;
}

.modal-brief-wrapper {
    overflow: hidden;
    padding: 45px 100px 70px;
}

.modal-title {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #49B9F8;
}

.modal-subtitle {
    font-family: 'Futura PT', sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #49B9F8;
}

.modal-subtitle span {
    font-weight: 600;
    color: #F99746;
}

.modal-title2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #49B9F8;
}

.modal-subtitle2 {
    width: 577px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #4C4D67;
}

.contact-info {
    margin-top: 48px;
}

.contact-info-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.contact-info__item {
    width: calc(50% - 15px);
}

.inp {
    width: 100%;
    height: 64px;
    padding: 24px;
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #6B6D91;
    background: #FFFFFF;
    border: 1px solid #C7CAFC;
    border-radius: 12px;
    outline: none !important;
}

.inp::placeholder {
    color: rgba(107, 109, 145, 0.6);
}

.inp:focus {
    border: 1px solid rgb(107, 109, 145);
}

.contact-info__item label {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #4C4D67;
    margin-bottom: 12px;
    display: block;
}

.technical-info {
    margin-top: 50px;
}

.technical-item {
    margin-bottom: 42px;
}

.technical-item__head {
    display: flex;
    align-items: center;
}

.technical-item__head .number {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #49B9F8;
    border: 1px solid #49B9F8;
}

.technical-item__head p {
    width: 718px;
    font-family: 'Futura PT', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #4C4D67;
}

.technical-item .inp {
    margin-top: 20px;
}

.inputs-radio {
    margin-top: 35px;
    display: flex;
}

.inputs-radio input {
    display: none;
}

.inputs-radio label {
    position: relative;
    padding-left: 44px;
    margin-right: 65px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #4C4D67;
    cursor: pointer;
}

.inputs-radio label::before {
    content: '';
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #C7CAFC;
    border-radius: 90px;
    position: absolute;
    top: calc(50% - 16px);
    left: 0px;
    cursor: pointer;
}

.inputs-radio label::after {
    display: none;
    content: '';
    width: 10px;
    height: 10px;
    background: #F99746;
    border-radius: 90px;
    position: absolute;
    top: calc(50% - 5px);
    left: 11px;
    cursor: pointer;
}

.inputs-radio input:checked+label::after {
    display: block;
}

.file-select-button {
    width: 90px;
    position: absolute;
    top: 23px;
    left: 45px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #49B9F8;
}

.file-select-button span {
    text-decoration: underline;
}

.file-select-name {
    font-size: 12px;
    width: 250px;
    position: absolute;
    top: 40px;
    left: 0;
}

.inputs-radio .label-file {
    margin-right: 120px;
}

.inputs-file {
    margin-bottom: 55px;
}

.chioce-level.inputs-radio {
    flex-direction: column;
}

.chioce-level p {
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #4C4D67;
    margin-bottom: 28px;
}

.choice-level__item {
    margin-bottom: 35px;
}

.choice-level__item label {
    display: block;
}

.choice-level__item label span {
    font-weight: 600;
}

.choice-level__item label .purple {
    color: #BA9EE7;
}

.choice-level__item label .green {
    color: #9ED8D8;
}

.choice-level__item label .blue {
    color: #8BB1FC;
}

#special .brief-color {
    color: #409ACD;
}

#special .number {
    color: #409ACD;
    border: 1px solid #409ACD;
}

#general .brief-color {
    color: #565CBD;
}

#general .number {
    color: #FFFFFF;
    border: 1px solid #565CBD;
    background: #565CBD;
}

.modal-up {
    margin-bottom: 150px;
}

.modal-up .modal-title,
.modal-up .modal-subtitle {
    color: #fff !important;
}

#premium .brief-color {
    color: #8BB1FC;
}

#premium .number {
    color: #FFFFFF;
    border: 1px solid #8BB1FC;
    background: #8BB1FC;
}

#medium .brief-color {
    color: #9ED8D8;
}

#medium .number {
    color: #FFFFFF;
    border: 1px solid #9ED8D8;
    background: #9ED8D8;
}

#simple .brief-color {
    color: #BA9EE7;
}

#simple .number {
    color: #FFFFFF;
    border: 1px solid #BA9EE7;
    background: #BA9EE7;
}

#premium .modal-brief-wrapper,
#medium .modal-brief-wrapper,
#simple .modal-brief-wrapper {
    padding-bottom: 150px;
}

.back-images img {
    position: absolute;
    z-index: -1;
}

.back-images img:first-child {
    top: 0;
    left: 0;
}

.back-images img:nth-child(2) {
    top: 600px;
    right: 0;
}

.back-images img:nth-child(3) {
    top: 1300px;
    left: 0;
}

.back-images img:nth-child(4) {
    top: 1530px;
    right: 0;
}

.back-images img:nth-child(5) {
    bottom: 1300px;
    left: 0;
}

.back-images img:nth-child(6) {
    bottom: 1150px;
    right: 0;
}

.back-images img:nth-child(7) {
    bottom: 370px;
    left: 0;
}

.back-images img:nth-child(8) {
    bottom: 0;
    right: 0;
}

.modal-up img {
    position: absolute;
    z-index: -1;
}

.modal-up .up {
    top: 0;
    left: 0;
}

.modal-up .bottom {
    bottom: 0;
    left: 0;
}