// responsive-START
@media screen and (max-width: 1485px) {
    .header-main {
        position: static;
    }
    .header-img {
        top: 35px;
        right: 0px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .groups-container {
        width: 95% !important;
    }
    .products-item {
        width: 350px;
    }
    .products-item__img img {
        max-width: 100%;
        height: auto;
    }
    .links-wrapper {
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-navigation {
        width: 660px;
    }
    .articles-item {
        width: 345px;
    }
    .groups-article {
        width: 490px;
    }
    .groups-article__img {
        img {
            width: 245px;
        }
    }
    .symptoms__item {
        font-size: 23px;
    }
}

@media screen and (max-width: 1099px) {
    .logo img {
        width: 300px;
    }
    .header-content .header-content__text1 {
        font-size: 70px;
    }
    .header-content .header-content__text2 {
        font-size: 45px;
    }
    .header-content .header-content__text3 {
        font-size: 38px;
    }
    .header-content {
        width: 660px;
    }
    .header-arrows {
        bottom: 125px;
        left: -15px;
    }
    .symptoms__item {
        font-size: 22px;
        padding: 0px 20px;
    }
    .products-item {
        width: 320px;
    }
    .header-arrows {
        bottom: 155px;
        left: -15px;
        img {
            width: 100px;
        }
    }
    .groups-article__content {
        font-size: 18px;
    }
    .groups-article__content {
        width: 200px;
    }
    .groups-article {
        width: 445px;
    }
    .groups-article__img img {
        width: 220px;
    }
    .more {
        font-size: 16px;
    }
    .more:before {
        width: 110%;
    }
    .symptoms__item p span {
        font-size: 30px;
    }
    .articles-item {
        width: 320px;
    }
    .articles .back-behind {
        height: 180px;
    }
    .footer-information .logo img {
        width: 280px;
    }
}

// responsive-END