/*Standard variables and values for website-START*/

$mainColor: #00309D;

/*Standard variables and values for website-END*/


/*Specefication-START*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: $mainColor;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 2px;
    &:hover {
        background: $mainColor * 0.9;
    }
}

.btn2 {
    background: #fff;
    border: 1px solid $mainColor;
    color: $mainColor;
    &:hover {
        background: #fff * 0.95;
    }
}

.title {
    font-weight: 300;
    font-size: 50px;
    color: $mainColor;
}

.more {
    font-weight: 300;
    font-size: 18px;
    color: $mainColor;
    position: relative;
    text-decoration: none;
    &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 14px;
        background: url(../img/arrow-more.svg);
        background-size: cover;
        top: 6px;
        right: -25px;
    }
    &:before {
        content: '';
        position: absolute;
        width: 114%;
        height: 1px;
        background: $mainColor;
        bottom: -3px;
        left: 0px;
    }
}


/*Specefication-END*/


/*header-START*/

.header {
    padding-top: 10px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 440px;
}

.burger-menu {
    position: relative;
    z-index: 2;
    margin-top: 26px;
    width: 37px;
    height: 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        height: 2px;
        background-color: #00309D;
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2) {
        top: 8px;
    }
    span:nth-child(3) {
        top: 8px;
    }
    span:nth-child(4) {
        top: 16px;
    }
}

.menu-opened {
    span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2) {
        top: 8px;
        transform: rotate(45deg);
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
    }
    span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
}

.header-main {
    position: relative;
}

.header-content {
    position: relative;
    z-index: 2;
    color: $mainColor;
    padding-top: 59px;
    width: 775px;
    .header-content__text1 {
        text-transform: uppercase;
        font-size: 90px;
    }
    .header-content__text2 {
        font-size: 54px;
        color: #009ACF;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        margin-right: 145px;
    }
    .header-content__text3 {
        margin: 5px 0px 35px;
        font-size: 44px;
        letter-spacing: 0.03em;
    }
    .header-content__text4 {
        font-size: 54px;
        font-weight: 300;
        span {
            display: block;
            font-size: 24px;
            margin: 15px 0px 40px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
        }
    }
    .btn {
        width: 200px;
    }
}

.header-img {
    position: absolute;
    z-index: 0;
    top: -97px;
    right: -155px;
    width: 769px;
    img {
        width: 100%;
    }
}

.header-arrows {
    position: absolute;
    bottom: 97px;
    left: -55px;
    img {
        width: 130px;
    }
}


/*header-END*/


/*groups-END*/

.groups {
    margin-bottom: 90px;
    padding-top: 15px;
    .groups-container {
        width: 1120px;
    }
}

.groups-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .groups-article:nth-child(1) {
        .groups-article__img:before {
            content: '1';
        }
    }
    .groups-article:nth-child(2) {
        .groups-article__img:before {
            content: '2';
        }
    }
    .groups-article:nth-child(3) {
        .groups-article__img:before {
            content: '3';
        }
    }
    .groups-article:nth-child(4) {
        .groups-article__img:before {
            content: '4';
        }
    }
}

.groups-article {
    width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.groups-article__img {
    position: relative;
    &:before {
        color: rgba(0, 154, 207, 0.12);
        font-size: 80px;
        font-weight: bold;
        font-family: Montserrat;
        position: absolute;
        top: -50px;
        left: -20px;
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 154, 207, 0.12);
        bottom: -7px;
        right: -10px;
        z-index: -1;
    }
}

.groups-article__content {
    width: 220px;
    font-size: 20px;
    color: #383836;
    font-family: Montserrat;
    p {
        margin-bottom: 56px;
    }
}


/*groups-END*/


/*symptoms-START*/

.symptoms {
    margin-bottom: 90px;
}

.symptoms-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.symptoms__item {
    text-align: center;
    padding: 0px 25px;
    font-size: 26px;
    border-right: 1px solid rgba(0, 154, 207, 0.12);
    &:last-child {
        border-right: none;
    }
    p {
        font-family: Montserrat;
        color: #009ACF;
        margin-bottom: 30px;
        span {
            font-size: 36px;
        }
    }
}

.symptoms-buttons {
    display: flex;
    .btn {
        width: 270px;
    }
    .btn2 {
        width: 170px;
        margin-left: 30px;
    }
}


/*symptoms-END*/


/*products-START*/

.products {
    margin-bottom: 95px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
}

.products-item {
    padding: 18px 20px 18px 30px;
    width: 370px;
    background: rgba(0, 154, 207, 0.03);
    border-radius: 2px;
    line-height: 1.2em;
    font-family: Montserrat;
    .btn {
        margin: 28px auto 0px;
        width: 277px;
    }
}

.list {
    color: #000000;
    li {
        list-style-type: none;
        margin-bottom: 15px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            top: 7px;
            left: -15px;
            width: 5px;
            height: 5px;
            background: url('../img/product-circle.svg');
        }
    }
}

.list-300 {
    font-weight: 300;
}

.list-top {
    color: #000000;
    li {
        list-style-type: none;
        margin-bottom: 20px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            top: 2px;
            left: -15px;
            width: 10px;
            height: 17px;
            background: url('../img/product-arrow.svg');
        }
    }
}

.products-item__img {
    margin: 23px 0px;
    img {
        height: 358px;
    }
}


/*products-END*/


/*articles-START*/

.articles {
    margin-bottom: 85px;
    position: relative;
    .back-behind {
        position: absolute;
        left: 0;
        bottom: -35px;
        right: 0;
        height: 223px;
        width: 100%;
        background: rgba(0, 154, 207, 0.12);
        z-index: 0;
    }
}

.articles-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.articles-item {
    width: 370px;
    img {
        width: 100%;
        margin-bottom: 28px;
    }
}


/*articles-END*/


/*links-START*/

.links {
    margin-bottom: 65px;
}

.links-wrapper {
    .list {
        li {
            font-size: 15px;
            margin-bottom: 0;
            line-height: 1.5em;
        }
    }
}


/*links-END*/


/*footer-START*/

.footer-main {
    padding: 40px 0px 35px;
    background: rgba(0, 154, 207, 0.12);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-information {
    width: 275px;
    .logo {
        img {
            width: 344px;
        }
        margin-bottom: 20px;
    }
    p {
        font-family: Montserrat;
        font-weight: 300;
        color: #000;
        margin: 10px 0px 17px;
    }
    .footer-phone {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 22px;
        color: $mainColor;
        margin-bottom: 20px;
    }
    .footer-link {
        margin: 0;
        margin: 6px 0px;
        a {
            text-decoration: none;
            color: $mainColor;
            font-family: Montserrat;
            font-weight: 400;
        }
    }
}

.footer-title {
    font-size: 22px;
    color: $mainColor;
    font-family: Roboto Condensed;
    font-weight: 400;
}

.footer-social {
    margin-top: 17px;
    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.footer-navigation {
    padding-top: 50px;
    width: 735px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation__item {
    ul {
        li {
            list-style-type: none;
            margin-top: 23px;
            a {
                color: #000000;
                font-family: Montserrat;
                font-weight: 300;
                text-decoration: none;
                &:hover {
                    color: $mainColor * 1.2;
                }
            }
        }
    }
}

.footer-copyright {
    margin: 23px 0px 5px;
    text-align: center;
    a {
        text-decoration: none;
        color: #000000;
        font-family: Montserrat;
        font-weight: 300;
    }
}


/*footer-END*/

// responsive-START
@media screen and (max-width: 1485px) {
    .header-main {
        position: static;
    }
    .header-img {
        top: 35px;
        right: 0px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .groups-container {
        width: 95% !important;
    }
    .products-item {
        width: 350px;
    }
    .products-item__img img {
        max-width: 100%;
    }
    .links-wrapper {
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-navigation {
        width: 660px;
    }
    .articles-item {
        width: 345px;
    }
    .groups-article {
        width: 490px;
    }
    .groups-article__img {
        img {
            width: 245px;
        }
    }
    .symptoms__item {
        font-size: 23px;
    }
}

// responsive-END