.hero {
  padding-top: 220px;
  padding-bottom: 270px;
  background: url(../img/hero.jpg) center no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden; }
  @media (max-width: 575px) {
    .hero {
      padding-top: 150px;
      padding-bottom: 220px; } }
  .hero:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    background: rgba(15, 133, 214, 0.66); }
  .hero:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    background: url(../img/roundSVG.SVG) center bottom no-repeat; }
  .hero .el {
    position: absolute;
    top: -50px;
    left: -120px; }
    @media (max-width: 991px) {
      .hero .el {
        display: none; } }
  .hero .container .section-title {
    font-size: 77px;
    font-family: 'Rubik-Bold';
    position: relative; }
    @media (max-width: 575px) {
      .hero .container .section-title {
        font-size: 46px; } }
  .hero .container .section-subtitle {
    position: relative;
    font-size: 35px;
    font-family: 'Rubik-Light';
    margin-bottom: 10px; }
    @media (max-width: 575px) {
      .hero .container .section-subtitle {
        font-size: 21px; } }
    .hero .container .section-subtitle:after {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 110px;
      height: 4px;
      content: '';
      background: #5bd65b;
      margin: auto;
      right: 300px; }
      @media (max-width: 575px) {
        .hero .container .section-subtitle:after {
          right: 170px;
          width: 90px; } }
  .hero .container .btn-blue {
    width: 213.5px;
    height: 56px;
    border: solid 2px #0f85d6;
    background-color: rgba(10, 24, 58, 0.16);
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
    padding: 0;
    z-index: 2; }
    @media (max-width: 575px) {
      .hero .container .btn-blue {
        width: 160px;
        height: 42px;
        font-size: 16px; } }
    .hero .container .btn-blue img {
      margin-right: 10px; }
    .hero .container .btn-blue:hover {
      background: #5bd65b;
      border-color: #5bd65b; }

.features .container .section-header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px; }
  .features .container .section-header .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    .features .container .section-header .section-title .text {
      font-size: 53px;
      color: #2e8ecf;
      position: relative; }
      @media (max-width: 575px) {
        .features .container .section-header .section-title .text {
          font-size: 42px; } }
      .features .container .section-header .section-title .text span {
        font-size: 75px;
        color: #2e8ecf;
        content: ' מבטל';
        opacity: 0.1;
        position: absolute;
        top: -17px;
        right: -60px;
        white-space: nowrap; }
        @media (max-width: 575px) {
          .features .container .section-header .section-title .text span {
            display: none; } }
    .features .container .section-header .section-title .line {
      color: #5bd65b;
      font-family: 'Rubik-Light';
      font-size: 45px;
      padding-left: 10px;
      padding-right: 10px; }
    .features .container .section-header .section-title .year {
      font-size: 67px;
      color: #0f85d6;
      font-family: 'Rubik-Bold';
      position: relative; }
      @media (max-width: 575px) {
        .features .container .section-header .section-title .year {
          font-size: 42px; } }
      .features .container .section-header .section-title .year span {
        font-size: 90px;
        color: #2e8ecf;
        content: '2023';
        opacity: 0.1;
        position: absolute;
        top: -15px;
        left: -60px; }
        @media (max-width: 575px) {
          .features .container .section-header .section-title .year span {
            display: none; } }
  .features .container .section-header .btn-green {
    width: 244px;
    height: 56px;
    font-size: 21px;
    background: #5bd65b;
    color: white;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #5bd65b; }
    .features .container .section-header .btn-green img {
      margin-right: 10px; }
      .features .container .section-header .btn-green img.noactive {
        display: block; }
      .features .container .section-header .btn-green img.active {
        display: none; }
    .features .container .section-header .btn-green:hover {
      color: #5bd65b;
      background: white; }
      .features .container .section-header .btn-green:hover .noactive {
        display: none; }
      .features .container .section-header .btn-green:hover .active {
        display: block; }

.features-element {
  margin-bottom: 50px; }
  .features-element-img {
    height: 70px;
   
    margin-bottom: 7px; }
  .features-element-title {
    margin-bottom: 17px;
    font-size: 24px;
    color: #5bd65b;
    font-family: 'Rubik-Medium'; }
  .features-element-text {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 16px; }
    .features-element-text:after {
      display: block;
      bottom: 0;
      right: 0;
      content: '';
      background: #5bd65b;
      width: 80px;
      height: 4px;
      position: absolute; }
  .features-element .features-btn {
    font-size: 20px;
    color: #484848;
    font-family: 'Rubik-Medium'; }
    .features-element .features-btn .active {
      display: none; }
    .features-element .features-btn .noactive {
      display: inline-block; }
    .features-element .features-btn:hover {
      color: #5bd65b; }
      .features-element .features-btn:hover .active {
        display: inline-block; }
      .features-element .features-btn:hover .noactive {
        display: none; }

.specialElement {
  background: #efefef;
  position: relative; }
  @media (max-width: 991px) {
    .specialElement {
      padding-top: 100px;
      padding-bottom: 200px; } }
  @media (max-width: 575px) {
    .specialElement {
      padding-bottom: 250px; } }
  .specialElement:after {
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    background: url(../img/roundSVG.SVG) center bottom no-repeat;
    background-size: auto 100%;
    height: 100px; }
  .specialElement:before {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    content: '';
    position: absolute;
    background: url(../img/roundSVG.SVG) center bottom no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .specialElement .container .section-body {
    position: relative;
    max-width: 900px;
    margin: auto;
    top: 0;
    bottom: 0; }
    .specialElement .container .section-body .man {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
      @media (max-width: 991px) {
        .specialElement .container .section-body .man {
          position: relative;
          display: block;
          margin-bottom: -30px; } }
    .specialElement .container .section-body .element {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
      @media (max-width: 991px) {
        .specialElement .container .section-body .element {
          position: absolute;
          display: block;
          bottom: -50px;
          top: auto;
          right: 0; } }
      @media (max-width: 767px) {
        .specialElement .container .section-body .element {
          bottom: -50px; } }
      @media (max-width: 575px) {
        .specialElement .container .section-body .element {
          bottom: -100px; } }
      @media (max-width: 450px) {
        .specialElement .container .section-body .element {
          bottom: -35px; } }
  .specialElement-content {
    max-width: 320px;
    padding-top: 250px;
    padding-bottom: 220px;
    position: relative;
    margin-left: 0;
    margin-right: auto; }
    @media (max-width: 991px) {
      .specialElement-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: auto;
        padding-right: 30px; } }
    @media (max-width: 767px) {
      .specialElement-content {
        padding-right: 50px; } }
    .specialElement-content .section-title {
      font-size: 46px;
      color: #0f85d6;
      font-family: 'Rubik-Bold'; }
      @media (max-width: 767px) {
        .specialElement-content .section-title {
          font-size: 31px; } }
    .specialElement-content .section-subtitle {
      color: #5bd65b;
      font-size: 19px;
      font-family: 'Rubik-Medium';
      margin-bottom: 25px; }
      @media (max-width: 767px) {
        .specialElement-content .section-subtitle {
          font-size: 17px; } }
    .specialElement-content-text {
      margin-bottom: 40px; }
      .specialElement-content-text p {
        margin-bottom: 25px; }
    .specialElement-content .btn-blue {
      width: 179px;
      background: #0f85d6;
      font-size: 17px;
      color: white;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 2px solid #0f85d6; }
      .specialElement-content .btn-blue svg .cls-1 {
        fill: white; }
      .specialElement-content .btn-blue:hover {
        color: #0f85d6;
        background: white; }
        .specialElement-content .btn-blue:hover svg .cls-1 {
          fill: #0f85d6; }

.blocks {
  padding-bottom: 50px;
  padding-top: 40px; }
  .blocks .container .blocks-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 991px) {
      .blocks .container .blocks-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .blocks .container .blocks-row .blocks-col {
      padding: 0 25px; }
      @media (max-width: 1199px) {
        .blocks .container .blocks-row .blocks-col {
          padding: 0 15px; } }
      .blocks .container .blocks-row .blocks-col:nth-of-type(1) {
        width: 30%; }
        @media (max-width: 991px) {
          .blocks .container .blocks-row .blocks-col:nth-of-type(1) {
            width: 100%; } }
      .blocks .container .blocks-row .blocks-col:nth-of-type(2) {
        width: 40%;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
        @media (max-width: 991px) {
          .blocks .container .blocks-row .blocks-col:nth-of-type(2) {
            width: 100%; } }
      .blocks .container .blocks-row .blocks-col:nth-of-type(3) {
        width: 30%; }
        @media (max-width: 991px) {
          .blocks .container .blocks-row .blocks-col:nth-of-type(3) {
            width: 100%; } }
    .blocks .container .blocks-row .section-title {
      font-size: 80px;
      font-family: 'Rubik-Bold';
      line-height: 1;
      color: #0f85d6;
      margin-bottom: 34px; }
      @media (max-width: 1199px) {
        .blocks .container .blocks-row .section-title {
          font-size: 60px; } }
      .blocks .container .blocks-row .section-title span {
        font-size: 57px;
        font-family: 'Rubik-Regular'; }
        @media (max-width: 767px) {
          .blocks .container .blocks-row .section-title span {
            font-size: 41px; } }
    .blocks .container .blocks-row p {
      color: #484848;
      position: relative;
      padding-bottom: 15px; }
      @media (max-width: 991px) {
        .blocks .container .blocks-row p {
          margin-bottom: 70px; } }
      .blocks .container .blocks-row p:after {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80px;
        height: 4px;
        background: #5bd65b;
        content: '';
        bottom: 0;
        right: 0;
        position: absolute; }
  .blocks-element {
    padding: 25px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 45px;
    display: block; }
    .blocks-element:after {
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      position: absolute; }
    .blocks-element img {
      position: relative;
      z-index: 1; }
    .blocks-element.blue {
      height: 426px;
      background: url(../img/blockBlue.jpg) center no-repeat;
      background-size: cover;
      color: white; }
      @media (max-width: 991px) {
        .blocks-element.blue {
          height: 273px; } }
      .blocks-element.blue:after {
        background: rgba(15, 133, 214, 0.8);
        -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s; }
      .blocks-element.blue:hover:after {
        background: rgba(15, 133, 214, 0.98); }
      .blocks-element.blue svg .cls-1 {
        fill: white; }
    .blocks-element.white {
      height: 273px;
      background: url(../img/blockWhite.jpg) center no-repeat;
      background-size: cover;
      color: #484848; }
      .blocks-element.white:after {
        background: rgba(255, 255, 255, 0.8);
        -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s; }
      .blocks-element.white:hover:after {
        background: rgba(255, 255, 255, 0.98); }
      .blocks-element.white svg .cls-1 {
        fill: #484848; }
    .blocks-element.green {
      height: 273px;
      background: url(../img/blockGreen.jpg) center no-repeat;
      background-size: cover;
      color: white; }
      .blocks-element.green:after {
        background: rgba(91, 214, 91, 0.8);
        -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s; }
      .blocks-element.green:hover:after {
        background: rgba(91, 214, 91, 0.98); }
      .blocks-element.green svg .cls-1 {
        fill: white; }
    .blocks-element-title {
      font-size: 28px;
      font-family: 'Rubik-Bold';
      margin-bottom: 12px;
      position: relative;
      z-index: 1; }
    .blocks-element-text {
      font-size: 17px;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
      max-width: 274px; }
    .blocks-element svg {
      position: relative;
      z-index: 1; }