/*PAGE-inner*/

@media (max-width: 768px){
  .container{
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 768px){
  .footer{
    margin-bottom: 74px;
  }
}

.inner-section{
  height: 100%;
  color: #484848;
}

.inner-section .container{
  max-width: 1124px;
}

.inner-header{
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  padding-bottom: 20px;
  padding-top: 30px;
  box-shadow: 0 3px 6px 0;
}

.inner-header-header .menu-toggle{
  background-color: #0f85d6;
}

@media (max-width: 1440px){
  .inner-header{
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media (max-width: 1200px){
  .inner-header{
    padding-bottom: 0px;
    padding-top: 10px;
  }
}

@media (max-width: 993px){
  .inner-header{
    height: 110px;
  }
}

.inner-header-header{
  color: #0f85d6 !important;
}

.inner-btn-green{
  color: #0f85d6 !important;
  width: 192px !important;
  height: 38px !important;
}
.inner-btn-green img{
  margin-left: 7px;
}

@media (max-width: 1440px){
  .inner-header-body{
    margin-right: 0 !important;
  }
}


.inner-menu li a{
  color: #484848 !important;
}

.inner-hero{
  background: url(../img/inner/denis-vdovin-fvKEyXVWQXY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center 55px;*/
  background-position: -500px 24px;
  padding-top: 120px;
  padding-bottom: 170px;
  position: relative;
}

.inner-hero_title{
  padding-top: 30px;
  position: relative;
  z-index: 999;
  font-size: 80px;
  font-family: 'Rubik-Medium';
  line-height: 0.98;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 425px){
  .inner-hero_title{
    font-size: 40px;
  }
}


.inner-submenu{
  z-index: 999;
  position: fixed;
  top: 200px;
  left: 77px;
  width: 208px;
  height: 59px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px){
  .inner-submenu{
    top: 382px;
    left: 20px;
    z-index: 1;
  }
  .inner-submenu{
    position: absolute;
  }
}

.inner-submenu-line{
  cursor: pointer;
}

.submenu-content{
  font-size: 17px;
  line-height: 2.71;
  color: #0f85d6;
  display: none;
}

.submenu-content ul li{
  border-bottom: 1px solid #EBEBEB;
}

.submenu-content ul li:last-child{
  border-bottom: none;
}

.content-item:hover{
  font-family: 'Rubik-Medium';
}

.inner-submenu .inner-submenu-line img:last-child{
  display: none;
}

.inner-submenu_active{
  width: 280.5px;
  height: 389.7px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  align-items: normal;
  padding-top: 19.5px;
  padding-right: 20px;
  justify-content: flex-start;
}


@media (max-width: 768px){
  .inner-submenu_active{
    padding-right: 0;
  }
}

.inner-submenu_active .submenu-content{
  display: block;
}

.inner-submenu_active .inner-submenu-line img:first-child{
  display: none;
}

.inner-submenu_active .inner-submenu-line img:last-child{
  margin-top: 3px;
  display: block;
}

.inner-submenu_active .submenu-text_up{
  font-size: 25px;
  font-family: 'Rubik-Medium';
}

.inner-submenu_active .submenu-text_down{
  display: none;
}

.submenu-text-mob{
  display: none;
}

.inner-submenu-text{
  cursor: pointer;
  margin-top: -5px;
  margin-right: 14.2px;
}

.submenu-text_up{
  font-size: 17px;
  color: #5bd65b;
  line-height: 1;
}

.submenu-text_down{
  font-size: 25px;
  font-family: 'Rubik-Medium';
  color: #0f85d6;
  line-height: 1;
}

@media (max-width: 1440px){
  .inner-submenu{
    left: 40px;
  }
}

@media (max-width: 768px){
  .inner-submenu{
    width: 95%;
    top: 320px;
    left: 2.5%;
  }
  .inner-submenu-line{
    display: none;
  }
  .inner-submenu-text{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    width: 100%;
  }
  .submenu-text_up, .submenu-text_down{
    display: none;
  }

  .inner-submenu_active .submenu-content{
    width: 95%;
  }

  .submenu-text-mob{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .submenu-text-mob div{
    font-size: 25px;
    font-family: 'Rubik-Medium';
    line-height: 1;
  }
  .submenu-text-mob__box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .submenu-text-mob .submenu-text-mob__box div:first-child{
    color: #5bd65b;
  }
  .submenu-text-mob .submenu-text-mob__box div:last-child{
    color: #0f85d6;
    margin-right: 7px;
  }

  .submenu-text-mob__arrow img{
    width: 90%;
  } 
}

@media (max-width: 425px){
  .inner-submenu{
    top: 280px;
    left: 2.5%;
  }
}


.inner-hero:before{
  bottom: 3px;
}

.right-menu{
  z-index: 999;
  position: fixed;
  top: 200px;
  right: 68.5px;
  width: 62.5px;
  height: 307.2px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding-top: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1440px){
  .right-menu{
    right: 25px;
  }
}

@media (max-width: 1024px){
  .right-menu{
    top: 180px;
  }
}


.right-menu-item{
  text-align: center;
  width: 100%;
  height: 55px;
  margin-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
}

.right-menu-item:last-child{
  border-bottom: none;
}

.img-height a img{
  height: 23px;
}

@media (max-width: 768px){
  .right-menu{
    transform: rotate(-90deg);
    height: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    right: 45%;
    top: 70%;
    bottom: 0px; 
  }
  .right-menu-item:nth-child(1){
    transform: rotate(-90deg);
    border-left: 1px solid #EBEBEB;
    border-bottom: none;
    height: 32px;
  }
  .right-menu-item:nth-child(2){
    transform: rotate(-90deg);
    border-left: 1px solid #EBEBEB;
    border-bottom: none;
    height: 32px;
  }
  .right-menu-item:nth-child(3){
   transform: rotate(-90deg);
   border-left: 1px solid #EBEBEB;
   border-bottom: none;
   height: 32px;
   width: 75px;
 }
 .right-menu-item:nth-child(4){
  transform: rotate(90deg);
  border-right: 1px solid #EBEBEB;
  border-bottom: none;
  height: 32px;
}
.right-menu-item:nth-child(5){
  transform: rotate(90deg);
  border-bottom: none;
  height: 32px;
}

}
@media (max-width: 620px){
  .right-menu{
    right: 43%;
  }
}
@media (max-width: 500px){
  .right-menu{
    right: 42%;
  }
}

@media (max-width: 425px){
  .right-menu{
    right: 40.5%;
    height: 300px;
  }
  .right-menu-item:nth-child(3){
   display: none;
 }
}

.breadcrumbs{
  height: 21px;
  font-size: 16px;
  line-height: 1.38;
}
.breadcrumbs a{
  color: #484848;
}
@media (max-width: 425px){
  .breadcrumbs{
    width: 95%;
  }
}

.breadcrumbs span{
 font-family: 'Rubik-Medium';
}

.inner-title2{
  max-width: 1124px;
  font-size: 26px;
  font-family: 'Rubik-Medium';
  line-height: 1.23;
  margin-top: 51px;
}

@media (max-width: 1439px){
  .inner-title2{
    max-width: 1124px;
  }
}

@media (max-width: 768px){
  .inner-title2{
    margin-top: 31px;
  }
}


.inner-text{
  max-width: 1124px;
  margin-top: 51px;
  margin-bottom: 51px;
}

@media (max-width: 768px){
  .inner-text{
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

.inner-text2{
  margin-top: 51px;
}

@media (max-width: 768px){
  .inner-text2{
    margin-top: 31px;
  }
}

.hr-green{
  width: 130px;
  height: 5px;
  background-color: #5BD65B;
  border-radius: 4px;
}

@media (max-width: 768px){
  .hr-green{
    width: 70px;
  }
}

.blue-text{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 760px;
  font-size: 23px;
  font-family: 'Rubik-Bold';
  color: #0f85d6;
}

.inner-title{
 font-size: 26px;
 font-family: 'Rubik-Bold';
 line-height: 0.96;
}

.hr-green2{
  margin-bottom: 70px;
}

@media (max-width: 768px){
  .hr-green2{
    margin-bottom: 40px;
  }
}

.inner-dbl-text{
  max-width: 1124px;
  margin-top: 26px;
  margin-bottom: 51px;
}

@media (max-width: 1430px){
  .inner-dbl-text{
    max-width: 1106px;
  }
}

.inner-dbl-text2{
  margin-top: 26px;
}

.grey-block{
  max-width: 1124px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin-bottom: 105px;
  padding: 25px 40px 0px 0px;
  margin-top: 100px;
  width: 98%;
  height: 412px;
  background-color: #e9e9e9;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.grey-block img{
  margin-left: 10px;
}

.inner-title-blue{
  color: #0f85d6;
  margin-bottom: 10px;
}

.inner-subtitle{
  font-size: 20px;
  font-family: 'Rubik-Bold';
  line-height: 1.25;
}

.grey-block-text{
  width: 98%;
  margin-top: 21px;
  font-size: 17px;
  line-height: 1.41;
  color: #484848;
}

@media (max-width: 1439px){
  .grey-block{
    max-width: 98%;
  }
}

@media (max-width: 1024px){
  .grey-block{
    width: 100%;
    height: 100%;
    padding: 25px 40px 25px 0px;
  }
}

@media (max-width: 768px){
  .grey-block{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px 15px 25px 0px;
  }
}

.inner-photos{
  max-width: 1124px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

@media (max-width: 768px){
  .inner-photos{
    width: 100%;
    flex-direction: column;
    margin-bottom: 31px;
  }
}

.inner-photos:first-child{
  margin-right: 10px;
}

.inner-photos:last-child{
  margin-left: 10px;
}


.inner-photos__img img{
  width: 95%;
  height: 275px;
}
@media (max-width: 1439px) {
  .inner-photos__img img{
    width: 540px;
    height: 275px;
  }
}

@media (max-width: 1230px){
  .inner-photos__img img{
    width: 98%;
  }
}

@media (max-width: 768px){
  .inner-photos__img img{
    height: auto;
  }
  .inner-photos__img{
    margin-bottom: 20px;
  }
}

.inner-list{
  margin-bottom: 74px;
}

.inner-list_item{
  font-size: 20px;
  line-height: 3;
  position: relative;
  padding-right: 35px;
}
.inner-list_item::after{
  content: '';
  position: absolute;
  top: 25px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #5bd65b;
  display: block;
  border-radius: 50%;
}

@media (max-width: 768px){
  .inner-list_item{
    line-height: 2;
  }
  .inner-list_item::after{
    top: 15px;
  }
}

.table-up{
  max-width: 1124px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.table-up-images{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 70px;
}

@media (max-width: 425px){
  .table-up-images{
    width: 60px;
  }
}

.table-up-images img{
  cursor: pointer;
}

.table-backg{
  width: 280px;
  padding-right: 35px;
}

.table-box{
  width: 100%;
}

.inner-table{
  max-width: 1124px;
  margin-top: 20px;
  margin-bottom: 112px;
}

@media (max-width: 768px){
  .table-box{
    overflow-x: scroll;
    margin-bottom: 40px;
  }
  .inner-table{
    width: 710px;
    margin-bottom: 30px;
  }
  .table-backg{
    width: 200px;
    padding-right: 20px;
  }
}

.inner-table tr{
  height: 60px;
}

.table-year{
  font-size: 18px;
  font-family: 'Rubik-Medium';
  border-bottom: 3px solid #0F85D6;
  height: 64px;
}

.inner-table tr{
  height: 60px;
  font-size: 17px;
}

.table-year td{
 width: 180px;
}

.tr-grey{
  background-color: #F7F7F7;
}

.gri{
  max-width: 1124px;
  margin-bottom: 112px;
}

@media (max-width: 768px){
  .gri{
    margin-bottom: 40px;
  }
}
.gri-up{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #AEAEAE;
  margin-bottom: 12.5px;
}
.gri-up .inner-title{
  margin-bottom: 13.5px;
}
.gri-block{
  width: 105px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; 
  justify-content: space-between;
  font-size: 16px;
  color: #0f85d6;
}

.gri-item{
  margin-bottom: 18px;
  font-size: 20px;
}

.inner-bottom{
  max-width: 1124px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36.8px;
}

.inner-bottom-text{
  color: #0f85d6;
}

.bottom-text__up{
  font-size: 31px;
  line-height: 0.2;
}

.bottom-text__down{
  font-size: 59px;
  font-family: 'Rubik-Bold';
  line-height: 1;
}

.inner-bottom-block{
  margin-right: 47.8px;
  width: 941px;
  height: 145.2px;
  opacity: 0.87;
  border-radius: 30px;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-image: url(../img//inner/next-subject-pik.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
}

@media (max-width: 1439px) {
  .inner-bottom-block{
    width: 88%;
  }
}

.inner-bottom-block:before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #5bd65b;
  position: absolute;
  opacity: 0.87;
  border-radius: 30px;
}

.bottom-block_text{
  padding-right: 91px;
  padding-top: 23.4px;
  position: relative;
  z-index: 999;
  font-size: 21px;
  font-family: 'Rubik-Bold';
  color: #ffffff;
}

@media (max-width: 768px) {
  .bottom-block_text{
    padding-right: 15px;
  }
}

.bottom-block_arrow{
  padding-right: 28.4px;
  position: relative;
  z-index: 999;
}

/*PAGE-inner-END*/