/*header-START*/

$mainColor: #00309D;

/*Specefication-START*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.home-btn {
    text-align: center;
    display: inline-block;
    padding: 20px 65px;
    background: #fff;
    border: 3px solid $mainColor;
    border-radius: 67px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: $mainColor;
    font-family: 'Roboto', sans-serif;
}

.home-btn2 {
    text-align: center;
    display: inline-block;
    background: $mainColor;
    color: #fff;
    padding: 24px 50px;
    border-radius: 39px;
    text-decoration: none;
}

.home-title{
    color: $mainColor;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}

.more {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $mainColor;
    position: relative;
    text-decoration: none;
    padding-right: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid $mainColor;
    &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 14px;
        background: url(../img/arrow-more.svg);
        background-size: cover;
        top: 6px;
        right: 0px;
    }
}

.fw-300{
    font-weight: 300;
}

.list{
    padding-left: 18px;
    color: #000000;
    font-family: Montserrat;
    li {
        line-height: 1.5em;
        list-style-type: none;
        position: relative;
        strong {
            color: $mainColor;
            font-weight: 500;
        }
        &:before {
            content: '';
            height: 5px;
            width: 5px;
            background: url('../img/list-circle.svg');
            position: absolute;
            top: 10px;
            left: -13px;
        }
    }
}

.scrollup {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 2;
    img {
        width: 60px;
        height: 62px;
    }
}

/*Specefication-END*/

.header {
    padding: 50px 0px;
}

.header-navigation {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 145px;
    height: auto;
}

.menu-wrapper {
    position: relative;
}

.burger-menu {
    position: relative;
    z-index: 100;
    width: 37px;
    height: 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 100;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        height: 2px;
        background-color: #00309D;
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2) {
        top: 8px;
    }
    span:nth-child(3) {
        top: 8px;
    }
    span:nth-child(4) {
        top: 16px;
    }
}

.menu-opened {
    span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2) {
        top: 8px;
        transform: rotate(45deg);
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
    }
    span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
}

.menu-navigation {
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: -20px;
    right: -15px;
    width: 320px;
    padding: 40px 18px 30px;
    background: linear-gradient(0deg, rgba(0, 154, 207, 0.06), rgba(0, 154, 207, 0.06)), #FFFFFF;
    ul {
        font-family: 'Roboto', sans-serif;
        list-style-type: none;
        padding-left: 0;
        li {
            font-weight: 300;
            line-height: 1.1em;
            &:before {
                display: none;
            }
            a {
                text-decoration: none;
                color: $mainColor;
            }
            &:hover {
                a {
                    color: $mainColor * 1.3;
                }
            }
        }
    }
}

.menu-active {
    transition: all 0.5s ease-out;
    visibility: visible;
    opacity: 1;
}

.menu-hr {
    width: 100%;
    height: 1px;
    background: rgba(0, 154, 207, 0.4);
    border: none;
}

.menu-top {
    font-size: 22px;
    li {
        margin-bottom: 24px;
    }
}

.menu-bottom {
    li {
        margin-top: 22px;
    }
}

.header-main {
    position: relative;
    margin-top: 60px;
}

.header-content {
    position: relative;
    z-index: 1;
    color: $mainColor;
    .header-content__text1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 76px;
    }
    .header-content__text2 {
        font-size: 65px;
        color: #009ACF;
        font-weight: 600;
        text-transform: uppercase;
    }
    .header-content__text3 {
        margin: 25px 0px 70px;
        font-size: 18px;
        letter-spacing: 0.01em;
    }
    .header-content__text4 {
        font-size: 48px;
        font-weight: 500;
        span {
            line-height: 1.2em;
            font-weight: 400;
            display: block;
            font-size: 20px;
            margin: 15px 0px 40px;
        }
    }
    
}

.header-img {
    position: absolute;
    z-index: 0;
    top: -97px;
    right: -155px;
    width: 769px;
    img {
        width: 100%;
    }
}


/*header-END*/


/*symptoms-START*/

.symptoms {
    padding: 95px 0px 110px;
}

.symptoms-wrapper {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.symptoms__item {
    margin-top: 45px;
    text-align: center;
    padding: 0px 25px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    p {
        margin-top: 33px;
        font-family: 'Roboto', sans-serif;
        color: $mainColor;
        span {
            font-size: 36px;
        }
    }
}

.symptoms-buttons {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home-btn {
        padding: 20px 25px;
    }
    .home-btn2 {
        padding: 23px 40px;
    }
}


/*symptoms-END*/


/*groups-END*/

.groups {
    margin-bottom: 110px;
    padding-top: 15px;
    .groups-container {
        width: 1120px;
    }
    .title {
        width: 900px;
    }
}

.groups-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .groups-article:nth-child(1) {
        .groups-article__img:before {
            content: '1';
        }
    }
    .groups-article:nth-child(2) {
        .groups-article__img:before {
            content: '2';
        }
    }
    .groups-article:nth-child(3) {
        .groups-article__img:before {
            content: '3';
        }
    }
    .groups-article:nth-child(4) {
        .groups-article__img:before {
            content: '4';
        }
    }
}

.groups-article {
    width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.groups-article__img {
    position: relative;
    img{
        border-radius: 20px;
    }
    &:before {
        color: rgba(0, 154, 207, 0.24);
        font-size: 110px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: -65px;
        left: -25px;
        font-weight: 700;
    }
}

.groups-article__content {
    width: 220px;
    font-size: 20px;
    color: #383836;
    font-family: Montserrat;
    p {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 56px;
        color: #383836;
    }
    .more {
        font-weight: 300;
    }
}


/*groups-END*/


/*products-START*/

.products {
    margin-bottom: 150px;
}

.products-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.products-item {
    padding: 18px 20px 0px 30px;
    width: 370px;
    background: rgba(0, 154, 207, 0.03);
    border-radius: 2px;
    line-height: 1.2em;
    font-family: Montserrat;
    .home-btn2 {
        margin: 68px auto -40px;
    }
    .list {
        padding-left: 0;
        margin-bottom: 25px;
        li {
            line-height: 1.3em;
            margin-bottom: 15px;
            &:before {
                top: 8px;
            }
        }
    }
}

.products-item-top {
    height: 370px;
}

.list-top {
    color: #000000;
    padding-left: 0;
    li {
        list-style-type: none;
        margin-bottom: 20px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            top: 2px;
            left: -15px;
            width: 10px;
            height: 17px;
            background: url('../img/product-arrow.svg');
        }
    }
}

.products-item__img {
    display: block;
    margin: 20px 0px;
    img {
        height: auto;
        width: 331px;
    }
}


/*products-END*/


/*articles-START*/

.articles {
    margin-bottom: 110px;
    position: relative;
    .back-behind {
        position: absolute;
        left: 0;
        bottom: -35px;
        right: 0;
        height: 223px;
        width: 100%;
        background: rgba(0, 154, 207, 0.12);
        z-index: 0;
    }
}

.articles-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.articles-item {
    width: 370px;
    img {
        border-radius: 20px;
        width: 100%;
        margin-bottom: 28px;
    }
}


/*articles-END*/


/*links-START*/

.links {
    margin-bottom: 80px;
}

.links-wrapper {
    .list {
        font-family: Roboto Condensed;
        li {
            font-size: 15px;
            margin-bottom: 0;
            line-height: 1.5em;
        }
    }
}


/*links-END*/


/*footer-START*/

.footer {
    .logo {
        img {
            width: 150px;
        }
    }
}

.footer-main {
    padding: 40px 0px 35px;
    background: rgba(0, 154, 207, 0.12);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-information {
    width: 250px;
    margin-top: 52px;
    p {
        font-family: Montserrat;
        font-weight: 300;
        color: #000;
        margin: 25px 0px 10px;
    }
    .footer-phone {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 22px;
        color: $mainColor;
        margin-bottom: 20px;
    }
    .footer-link {
        margin: 0;
        margin: 6px 0px;
        a {
            text-decoration: none;
            color: $mainColor;
            font-family: Montserrat;
            font-weight: 400;
        }
    }
}

.footer-title {
    font-size: 22px;
    color: $mainColor;
    font-family: Roboto Condensed;
    font-weight: 400;
}

.footer-social {
    margin-top: 30px;
    a {
        text-decoration: none;
        margin-right: 10px;
    }
    img {
        width: 25px;
        height: 25px;
    }
}

.footer-information1 {
    p {
        line-height: 1.7em;
    }
}

.footer-navigation {
    padding-top: 50px;
    width: 735px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation__item {
    ul {
        padding-left: 0;
        list-style-type: none;
        li {
            line-height: 1.2em;
            margin-top: 23px;
            &:before {
                display: none;
            }
            a {
                color: #000000;
                font-family: Montserrat;
                font-weight: 300;
                text-decoration: none;
                &:hover {
                    color: $mainColor * 1.2;
                }
            }
        }
    }
}

.footer-copyright {
    margin: 40px 0px 35px;
    text-align: center;
    a {
        text-decoration: none;
        color: #000000;
        font-family: Montserrat;
        font-weight: 300;
    }
}


/*footer-END*/