*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

}

/*font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Roboto', sans-serif;*/

.container{
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

.box{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 345px;
	height: 470px;
}

.banner-wrapper{
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url(../img/banner-background.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 45px;
}

@media screen and (max-width: 1190px) {
	.banner-wrapper{
		padding-top: 27px;
	}
}

@media screen and (max-width: 1030px) {
	.banner-wrapper{
		padding-top: 22px;
	}
}

@media screen and (max-width: 991px) {
	.banner-wrapper{
		padding-top: 45px;
	}
}

@media screen and (max-width: 767px) {
	.banner-wrapper{
		padding-top: 20px;
	}
}

@media screen and (max-width: 575px) {
	.banner-wrapper{
		padding-top: 10px;
	}
}

@media screen and (max-width: 550px) {
	.banner-wrapper{
		padding-top: 35px;
	}
}

@media screen and (max-width: 425px) {
	.banner-wrapper{
		padding-top: 15px;
	}
}

.banner-title{
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #f9f8ff;
	line-height: 0.5;
	letter-spacing: 0.05rem;
	margin: 0;
	margin-bottom: 7px;
	padding-bottom: 0 !important;
}

.wrapper-stars{
	margin-left: auto;
	margin-right: auto;
	width: 67%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}


.wrapper-stars__line{
	width: 35px;
	height: 1px;
	background-color: rgba(232, 232, 232,0.7);
}

@media screen and (max-width: 1080px) {
	.wrapper-stars__line{
		width: 27px;
	}
}

@media screen and (max-width: 991px) {
	.wrapper-stars__line{
		width: 20%;
	}
}


.wrapper-stars__box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.wrapper-stars__item{
	margin-left: 3px;
	width: 20px;
}

.wrapper-stars__item:first-child{
	margin-left: 0px;
}

@media screen and (max-width: 1170px) {
	.wrapper-stars__item{
		width: 16px;
	}
}

@media screen and (max-width: 991px) {
	.wrapper-stars__item{
		width: 20px;
	}
}

@media screen and (max-width: 700px) {
	.wrapper-stars__item{
		width: 16px;
	}
}

@media screen and (max-width: 550px) {
	.wrapper-stars__item{
		width: 20px;
	}
}

@media screen and (max-width: 350px) {
	.wrapper-stars__item{
		width: 18px;
	}
}


.wrapper-stars__item img{
	width: 100%;
}

.banner-text{
	font-size: 12px;
	line-height: 1.2;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #f9f8ff;
	margin-bottom: 14px;
}

.reviews-wrapper{
	padding: 15px;
	border-radius: 4px;
	background-color: #f8f8ff;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	position: relative;
}

.owl-nav{
	width: 100%;
	top: 43%;
	left: 0;
	position: absolute;
}

@media screen and(max-width: 399px) {
	.owl-nav{
		top: 50%;
	}
}

.owl-prev{
	outline: none;
	background-image: url(../img/arrow-prev.png) !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 25px;
	width: 25px;
	position: absolute;
	left: 0;
	top: 0;
}

.owl-next{
	outline: none;
	background-image: url(../img/arrow-next.png) !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 0;
	top: 0;
}

.owl-prev:hover, .owl-next:hover{
	background: #000;
}

.reviews-user{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.reviews-user__img{
	width: 35px;
}

.reviews-user__img img{
	width: 100%;
}

.reviews-user__name{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: #363636;
	margin-left: 7px;
	margin-bottom: 0;
}

.reviews-stars{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.reviews-stars__img{
	width: 70px;
}

.reviews-stars__img img{
	width: 100%;
}

.reviews-activity{
	margin-left: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #9d9da1;
	margin-bottom: 0;
}

.banner-reviews-text{
	text-align: left;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	line-height: 1.25;
	margin-bottom: 0;
}

@media screen and(max-width: 1190px) {
	.banner-reviews-text{
		font-size: 11.5px;
	}
}

.reviews-text-more{
	display: block;
	text-decoration: none;
	color: #5881f4;
}

.banner-form__container{

}

.banner-form__container input{
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.banner-form__number{
	padding: 10px 15px;
	color: #929292;
	font-size: 16px;
}

.banner-form__number::placeholder{
	color: #c0c0c0;
}

.banner-form__submit{
	cursor: pointer;
	padding: 10px;
	background-color: #FF146A;
	border-radius: 4px;
	border: none;
	color: #fff;
	font-size: 14px;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 700;
}
