body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  height: 7px;
  width: 100%;
  background-color: #fdc400;
}
button,
input,
summary {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
summary::-webkit-details-marker {
  display: none;
}
summary::-moz-details-marker {
  display: none;
}
summary::-ms-details-marker {
  display: none;
}
summary::-o-details-marker {
  display: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.weight-700 {
  font-weight: 700;
}
.header {
  background-color: #002645;
  color: #fff;
  height: 100%;
}
.header-top {
  width: 1115px;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-content__block {
  margin-right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  border-right: 1px solid #fff;
  height: 46px;
}
.main-content__block-information__title {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
}
.main-content__block-information__text {
  width: 140px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1.4;
  margin-bottom: 15px;
}
.main-content__block-triangle {
  border: 8px solid transparent;
  border-top: 14px solid #fdc400;
  border-radius: 2px;
  margin-left: 10px;
}
.content__block2 {
  width: 260px;
}
.content__block3 {
  margin-right: 0px;
  width: 130px;
  border-right: none;
}
.header-center {
  background-image: url(../img/header-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.header-center-content {
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
}
.header-center-content__title {
  line-height: 1;
  margin: 0;
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__title-span {
  color: #fdc400;
  font-size: 50px;
  width: 100%;
}
.header-center-content__subtitle {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin-top: 15px;
}
.header-center-content__buttons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.button-item {
  height: 50px;
  width: 280px;
  position: relative;
  padding-right: 28px;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.buttons-item__span {
  height: auto;
  position: absolute;
  top: 8px;
  right: 25px;
}
.buttons-item__span img {
  height: 30px;
}
.header-bottom-content {
  padding-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket-element {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket-element__img img {
  width: 47px;
  height: 45px;
}
.basket-element__text {
  padding-top: 5px;
  width: 130px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}
.header-bottom__search {
  width: 645px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-bottom__search-input {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #fdc400;
}
.header-bottom__search-input input {
  padding: 10px;
  width: 290px;
  height: 41px;
  border: none;
  border-right: 2px solid #fdc400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
.header-bottom__search-input button {
  width: 120px;
  height: 41px;
  background-color: #002645;
  color: #fff;
  border: none;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}
.header-bottom__searc-logo img {
  height: 50px;
}
.shop {
  height: 100%;
  font-size: #002645;
  padding-top: 15px;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sidebar-details p {
  margin: 5px 0px 15px 0px;
}
.sidebar-details p a {
  padding-left: 55px;
  font-size: 12px;
  font-weight: 600;
  color: #002645;
  text-transform: uppercase;
  line-height: 2;
}
.sidebar-details p a:hover {
  font-weight: 700;
}
.summary-box {
  cursor: pointer;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.summary-box__title {
  margin-left: 10px;
  font-size: 16.552px;
  color: #002645;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.product {
  width: 930px;
}
.choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}
.choice-screen1 {
  width: 465px;
  height: 165px;
  background-image: url(../img/choice-backgraund1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.choice-screen__title {
  padding-top: 25px;
  padding-left: 20px;
  color: #fff;
  text-transform: uppercase;
  width: 230px;
  font-weight: 4	00;
  line-height: 1.2;
}
.choice-screen2 {
  width: 460px;
  background-image: url(../img/choice-backgraun2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.choice-buttom {
  font-size: 14px;
  width: 200px;
  height: 37px;
  margin-top: 40px;
  margin-left: 130px;
}
.choice-button__span {
  position: absolute;
  top: 7px;
  right: 15px;
}
.choice-button__span img {
  height: 20px;
}
.product__title {
  margin-bottom: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  height: 45px;
  background-color: #ebeef0;
  color: #002645;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 101%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product-cart {
  width: 220px;
  margin-right: 10px;
  margin-bottom: 13px;
  border: 2px solid #d7dde1;
}
.product-cart__img {
  text-align: center;
}
.product-cart_price {
  margin-right: 14px;
  float: right;
  color: #002645;
  font-weight: 400;
  line-height: 1.2;
}
.add-to-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  margin-bottom: 5px;
}
.add-to-basket__button button {
  cursor: pointer;
  margin-right: 8px;
  margin-left: 10px;
  height: 31px;
  width: 155px;
  border: 1px solid #002645;
  background-color: #fdc400;
  font-size: 12px;
  color: #002645;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
}
.in-basket button {
  background-color: #ebeef0;
}
.add-to-basket__quantity {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d7dde1;
  font-weight: 700;
}
.add-to-basket__quantity button {
  width: 15px;
  cursor: pointer;
  font-weight: 700;
  color: #909090;
  border: none;
  background-color: transparent;
}
.product-cart__name {
  margin-left: 10px;
  width: 190px;
  font-size: 12px;
  color: #002645;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-cart__name-span {
  font-size: 11px;
}
.product-quality {
  margin-bottom: 25px;
  width: 100%;
  margin-top: 15px;
  border-top: 2px solid #e1e7ec;
  overflow: hidden;
}
.product-quality__title {
  width: 365px;
  font-size: 21px;
  color: #002645;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
}
.product-quality-text {
  margin-bottom: 40px;
  width: 590px;
  font-size: 12px;
  color: #002645;
  line-height: 1.2;
  font-weight: 400;
}
.product-quality__button button {
  margin-left: 165px;
  height: 40px;
  width: 460px;
  position: relative;
  padding-right: 28px;
  border: 1px solid #002645;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #002645;
  cursor: pointer;
}
.product-quality__button-span {
  height: auto;
  position: absolute;
  top: 10px;
  right: 25px;
}
.product-quality__button-span img {
  height: 20px;
}
.product-quality-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.all-product-btn {
  margin-bottom: 50px;
  margin: 40px;
}
.all-product-btn button {
  background-color: #fdc400;
}
.footer {
  height: 100%;
  color: #fff;
  background-color: #002645;
  padding-top: 40px;
  padding-bottom: 55px;
}
.footer-content {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}
.footer-content__social {
  padding-top: 70px;
  position: relative;
}
.yaher {
  position: absolute;
  top: -150px;
  left: -90px;
}
.footer-content__information {
  width: 600;
}
.footer-margin {
  margin-bottom: 15px;
}
